.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.backpack {
  position: absolute;
  top: 130px;
  width: 200px;
  height: 300px;
  background: linear-gradient(forestgreen, green);
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  overflow: hidden;
  z-index: 1;
  border-top: 1px solid #006400;
}
.backpackpouch,
.backpackpouch {
  position: absolute;
  z-index: 0;
  bottom: 0;
  width: 200px;
  height: 210px;
  background: linear-gradient(forestgreen, green);
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-top: 1px solid #006400;
}

.minipouch {
  width: 75px;
  height: 75px;
  background: forestgreen;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
  z-index: 0;
  position: absolute;
  top: 150px;
  left: 60px;
  border: 2px solid #006400;
  border-top: 3px solid tan;
}
.minipouch::after {
  content: '';
  position: absolute;
  display: block;
  height: 12px;
  width: 4px;
  background: yellow;
  left: 2px;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
}

.toppouch {
  position: absolute;
  height: 130px;
  width: 200px;
  background: forestgreen;
  z-index: 3;
  border-bottom-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom: 2px solid #006400;
}

.buckle {
  position: absolute;
  background: #964b00;
  height: 38px;
  width: 18px;
  border-radius: 15%;
}
.buckle:after {
  content: '';
  position: absolute;
  display: block;
  width: 20px;
  height: 5px;
  background: yellow;
  top: 5px;
  right: -1px;
}
.buckle:before {
  content: '';
  position: absolute;
  display: block;
  width: 20px;
  height: 5px;
  background: yellow;
  top: 24px;
  right: -1px;
}

.one {
  top: 75px;
  left: 35px;
}

.two {
  top: 75px;
  right: 35px;
}

.toppouchflipped {
  display: none;
  position: absolute;
  height: 130px;
  width: 200px;
  background: forestgreen;
  z-index: 0;
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
  border-top: 2px solid #006400;
  top: 20px;
  border-bottom: 2px solid #006400;
}

.circle {
  width: 50px;
  height: 50px;
  background: #964b00;
  border-radius: 100%;
  position: absolute;
  left: 74px;
  top: 23px;
}

.package {
  margin: 10px;
  border-radius: 1.2rem;
  box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.15);
  padding: 10px;
  width: 200px;
  height: 270px;
}
